body {
background-color: rgba(112, 226, 243, 0.707);  
color: rgb(54, 42, 34);  
margin: 8 px;;

  margin: 0;
  padding: 0;

  
 
}



h2, p {
  margin: 10px;
  


}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #414571;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 19px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #d654c7;
}

div {
  border: 1px solid gray;
  padding: 8px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #6678a4;
}

p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: #008CBA;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  color: #6678a4;
}