body {
background-color: rgba(112, 226, 243, 0.707);  
color: rgb(54, 42, 34);  
margin: 8px;

  margin: 0;
  padding: 0;

  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  color: aliceblue;

 
}

/* */
h2, p {
  margin: 10px;
  text-align: center;


}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #414571;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 19px;
  text-decoration: none;
}

ul li a:hover 
{
  background-color: #d654c7;
}

vanaf


li a, .dropbtn 
{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px 19px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn 
{
  background-color: #d654c7;
}

li.dropdown 
{
  display: inline-block;
}

.dropdown-content 
{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 112px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a 
{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content 
{
  display: block;
}


/*container zorgt voor het groeperen van de informatie in dit geval voor */
.container {
  display: flex; /* maakt van de container een horizontale rij  */
}

.sidebar {
  width: 250px; /* zorgt voor breedte van de linkerkolom */
  background-color: rgba(239, 164, 164, 0.5); /* beetje doorschijnende achtergronf */
  padding: 20px; /* Ruimte binnen de kolom */
  box-shadow: 2px 0 5px rgba(0,0,0,0.1); /* zorgt voor schaduwtje */
}

.main-content {
  flex: 1; 
  padding: 20px; /* zorgt voor lengte van kolom */
}


/* Dit volgende is voor het plaatsen van mijn plaatjes*/
.container {
  display: flex; /* Zet tekst en afbeeldingen naast elkaar */
  gap: 20px; /* Ruimte tussen tekst en afbeeldingen */
  padding: 20px;
}

.text-section {
  flex: 1; /* Tekst neemt 1 deel van de ruimte */
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
}

.image-gallery {
  flex: 1; 
  display: grid; 
  grid-template-columns: repeat(2, 1fr); /* zorgt voor aantal kolommen */
  gap: 10px; 
}

.image-gallery img {
  width: 100%; /* Afbeelding vult het vak */
  height: auto;
  border-radius: 8px; /* Zorgt voor ronde hoekjes */
 
}

